<template>
    <div class="row">
        <div class="col-sm-12">
            <h1>Mes films favoris</h1>
        </div>
        <div v-if="favorites.data.results.length">
            <Resultat v-bind:result="favorites.data.results"/>
        </div>
         <div v-else>
            <p> Aucun favoris</p>    
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import Resultat from '../components/Resultat'


export default {
    name: 'favorites',
    computed: {
    ...mapState(['favorites']),
  },
  components: {
    Resultat,
  },
  mounted() {
    this.$store.dispatch('fetchFavorites');
  },
};

</script>