<template>
    <div id="home">
        <h1 class="display-2">LEANFLIX</h1>
          <b-navbar toggleable="lg" type="dark" variant="warning">
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item href="/">Accueil</b-nav-item>
              <b-nav-item href="/films-favoris" >Favoris</b-nav-item>
              <b-nav-item href="/films-a-voir" >Film à voir</b-nav-item>
            </b-navbar-nav>
            <Search @list="listValue"/>
            </b-collapse>
             <div class="buttons logout-wrapper">
            <a class="button is-light" @click="onLogout">
              Logout
            </a>
          </div>
          </b-navbar>
          <div class="column">
            <Carrousel></Carrousel>
          </div>
        <Resultat v-bind:result="movies"/>  
        <router-view></router-view>
    </div>
</template>

<script>
import Search from '../components/Search'
import Resultat from '../components/Resultat'
import Carrousel from '../components/Carrousel'

export default {
  name: 'Home',
    data(){
        return{
          urlMovie : process.env.VUE_APP_BASE_URL + 'search/movie?api_key= ' + process.env.VUE_APP_API_KEY + '&query=',
          movies:[]
        }
    },
    components:{
        Search,
        Resultat,
        Carrousel
    },
    methods:{
      listValue: function(params) {
        this.movies = params;
      },
      onLogout() {
        this.$store.commit('LOGOUT');
        this.$router.push('/login');
      },
    },
}
</script>