<template>
    <div id="login">
        
        <div v-if="error"> {{error}} </div>    
        <h1>Veuillez vous identifier svp</h1>
            <label>Utilisateur</label>
            <input v-model="username" />
       
            <label>Mot de passe</label>
            <input :type="passwordFieldType" v-model="password"/>
            <button type="password" @click="switchVisibility" data-toggle="password">
               <b-icon icon="eye-slash"></b-icon>
            </button>
            <button @click="authenticateUser">Se connecter</button>
    </div>
</template>


<script>
import fetchers from '../mixins/fetchers'
import { createRequestToken,
 getAccount, getSessionId, logUser,
} from '../conexion_api';

export default {
  name: 'Login',
  mixins:[fetchers],
   data(){
    return{
      isLoading: false,
      username:"",
      password:"",
      passwordFieldType: 'password',
      error:'',
      request_token:'',
      session_id:'',
      account_id:''
    }
   },
  methods:{
    switchVisibility() {
      this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
    },

    async authenticateUser(){
      this.isLoading = true;
      try {
        const token = await createRequestToken();
        this.request_token= token.data.request_token;
        
        await logUser(this.username, this.password, this.request_token);
        this.$store.commit('UPDATE_VALUE', { name: 'token', value: this.request_token });
        
        const session = await getSessionId(this.request_token);
        this.session_id = session.data.session_id

        this.$store.commit('UPDATE_VALUE', { name: 'session_id', value: this.session_id });

        const account = await getAccount(this.session_id);
        console.log("hola vos")
        this.account_id = account.data.id
        console.log(this.account_id )
        this.$store.commit('UPDATE_VALUE', { name: 'account_id', value: this.account_id});


        this.$store.dispatch('fetchFavoris');
        this.$router.push({ path: '/' });
        
        this.isLoading = false;
        this.$store.dispatch('fetchCarrousel');

      } catch (e) {
        this.error = 'ERROR';
        alert("identifiants incorrets")
        
    }
    }
  }
}
</script>
