<template>
    <div class="row">
        <div class="col-sm-12">
            <iframe width="1100" height="315"
                :src="src + key ">
            </iframe>
        </div>
        <div class="col-sm-12">
            <b-card no-body class="text-center" style="max-width: 1100px;">
                <b-row no-gutters>
                <div v-if="!noImage">
                    <b-col md="6">
                        <img :src="urlImage + film.backdrop_path" 
                        alt="" class="rounded-0"  @error="imgUrlAlt" />
                    </b-col>
                </div>
                <b-col md="6">
                    <b-card-body>
                        <b-card-text>
                            <h2 class="card-title">{{film.title}}</h2>
                                <br>
                                <small>{{film.title}} ({{film.original_language}}) - Sortie: {{film.release_date | setDate}}</small>
                                <p class="card-text"> {{film.overview}} </p>
                                <h4>Informations</h4>
                                <ul>
                                    <li>Popularité : {{film.popularity}}</li>
                                    <li>Note : {{film.vote_average}}/10</li>
                                    <li>Nombre de vote : {{film.vote_count}}</li>
                                </ul>
                        </b-card-text>
                    </b-card-body>
                </b-col>
                </b-row>
            </b-card>
        </div>
        <div class="row text-center">
            <div class="col-lg-6">
                <b-button :class="[isInFavoriteList ? 'is-primary' : '']" @click="addAsFavorit()">
                     {{isInFavoriteList ? 'Supprimer des favoris' : 'Ajouter aux favoris'}}
                     </b-button>
            </div>
            <div class="col-lg-6">
                <b-button variant="success"> Ajouter aux "A voir"</b-button>
            </div>
        </div>
    </div>
</template>

<script>
import fetchers from '../mixins/fetchers';

export default {
    name: 'Movie',
    mixins:[fetchers],
    data(){
        return{
            id : this.$route.params.id,
            urlMovie : 'https://api.themoviedb.org/3/movie/',
            urlImage: "http://image.tmdb.org/t/p/w342",
            urlVideo: "https://api.themoviedb.org/3/movie/",
            api_key: 'api_key=a219edc1957523921286fe0b1f7e2e69',
            film: [],
            video:[],
            key:'',
            src:"https://www.youtube.com/embed/",
            noImage: false,
        }
    },
    filters:
    {
        setDate : function(value){
            let date = new Date(value);
            let d = date.toLocaleDateString('fr', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
            });
            return d
        },
    },
    computed:{
        isInFavoriteList() {
            return !!this.$store.getters.getInFavoriteListById(this.film.id);
        },
    },
   
    methods:{
        addAsFavorit() {
            this.$store.dispatch('addToFavorite',
                { media_id: this.film.id, media_type: 'movie', favorite: !this.isInFavoriteList });
            },
        imgUrlAlt(event) {
            event.target.src = 'https://dummyimage.com/350x500/000/fff';
        },
    },
    created: 
        async function (){
            let json = await this.getData(this.urlMovie + this.id + '?'+ this.api_key)
            this.film = json
            let json2 = await this.getData(this.urlVideo + this.id + '/videos?'+ this.api_key)
            this.video = json2.results
            if(this.video.length){
                this.key = this.video[0].key
            }
        }
}
</script>