<template>
<div>
  <div v-if="carrousel.data.length" class="wrapper">
    <b-carousel :indicator-inside="false">
      <b-carousel-item v-for="(movie, i) in carrousel.data.results" :key="i">
          {{movie}}
            <span class="image cursor" v-on:click="onMovieClick(movie.id)">
              <img class="img" :src="`https://image.tmdb.org/t/p/w500/${movie.poster_path}`">
            </span>
      </b-carousel-item>
    </b-carousel>
    
  </div>
</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Carrousel',
  data() {
    return {};
  },
  computed: {
    ...mapState(['carrousel']),
  },
  methods: {
    onMovieClick(id) {
      this.$router.push(`movie/${id}`);
    },
  },
  mounted() {
    this.$store.dispatch('fetchCarrousel');
  },
};
</script>

<style scoped>
  .wrapper {
    /*width: 500px;*/
  }
  .cursor {
    cursor: pointer;
  }
</style>
