<template>
 <div v-if="this.result.length >0">
      <b-container fluid class="p-4 bg-dark">
        <b-row>
          <div v-for="movie in result" :key="movie.id" class="column is-one-quarter">
            <div class="container grow"  v-on:click="movie_details(movie)">
              <img v-if="movie.poster_path" :src="urlImage + movie.poster_path" alt="">
              <img v-else :src="notImg">
              <h6 style="color:yellow;">{{movie.title}}</h6>
            </div>
          </div>
        </b-row>
      </b-container>      
    </div>
</template>

<script>

export default {
  name: 'Resultat',
    data(){
        return{
          data : '',
          urlImage: "http://image.tmdb.org/t/p/w342",
          notImg:"https://dummyimage.com/350x500/000/fff"
        }
    },
    props: {
      result: Array
    },
    methods:{
        movie_details: function (movie) {
          const path = `/movie/${movie.id}`
          if (this.$route.path !== path) this.$router.push(path)
        },
    }
}
</script>