<template>

  <div>
    <b-navbar-nav class="ml-auto">
        <b-nav-form>
            <b-input-group prepend="@" class="mb-2 mr-sm-2 mb-sm-0">
                <b-form-input v-model.lazy="chercher" placeholder="Rechercher un film"></b-form-input>
            </b-input-group>
        </b-nav-form>
    </b-navbar-nav>
    
</div>
</template>

<script>
import fetchers from '../mixins/fetchers';
export default {
  name: 'Search',
  mixins:[fetchers],
    data(){
        return{
            urlMovie :  process.env.VUE_APP_BASE_URL +'search/movie?api_key=a219edc1957523921286fe0b1f7e2e69&query=',
            films:[],
            chercher:''
        }
    },
    methods:{

    },
    watch:{
        chercher: async function(newValue){
                    if (newValue.length > 0 ){
                        let json = await this.getData(this.urlMovie + newValue)
                        this.films = json.results
                        this.$emit("list", this.films);
                    }
        }
    },
}
</script>
